{%load static%}
<!DOCTYPE html>
<html>
<title>Awards</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Raleway", sans-serif
    }
</style>

<body class="w3-light-grey w3-content" style="max-width:1600px">




    <!-- !PAGE CONTENT! -->
    <div class="w3-main" ">
        <div class="w3-bar w3-black">
            <a href="{%url 'home'%}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-green"><i
            class="fa fa-home fa-fw w3-margin-right"></i>Home</a>
            <a href="{%url 'profile'%}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i
            class="fa fa-user fa-fw w3-margin-right"></i>Profile</a>
            <a href="/logout" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i
            class="fa fa-sign-out fa-fw w3-margin-right"></i>Logout</a>
            <form role="search" class="w3-hide-small" action="{%url 'search'%}">
                    <input type="text" name="project"
                        class="w3-bar-item w3-input w3-transparent w3-padding-large w3-hover-light-grey w3-right"
                        placeholder="Search and hit enter...">
                </form>
            </div>

            </div>
            </div>
        </div>


        <!-- First Photo Grid-->

        <div class="w3-row-padding">
            <h4 class="w3-center">All Projects</h4>
            <div class="col-6-md""w3-center"><a class="w3-button w3-round w3-green" href="{%url 'post'%}"><b>+ </b>Add a Project</a>
            <h4 class="w3-center">View and Rate Projects</h4>
            {% for project in projects %}
            <div class="w3-third w3-container w3-margin-bottom ">
                <div class="row">
                    <a href="{%url 'project'}"><img src="{{project.project_photo.url}}"
                            alt="project_photo" style="width:100%" class="w3-hover-opacity"
                            title="Click to view more details"></a>
                    <div class="w3-container w3-white w3-card">
                        <p><b>{{project.project_name}}</b></p>
                        <p>{{project.description}}</p>
                        <div class="w3-center "></div>
                    </div>
                </div>
            </div>
            {%endfor%}

            <!-- End page content -->
        


        <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
        <script>
            // Script to open and close sidebar
            function w3_open() {
                document.getElementById("mySidebar").style.display = "block";
                document.getElementById("myOverlay").style.display = "block";
            }

            function w3_close() {
                document.getElementById("mySidebar").style.display = "none";
                document.getElementById("myOverlay").style.display = "none";
            }

        </script>

        <style>
            
        </style>

</body>

</html>