<head>

<title>Update</title>
{{form.media}}
{% load bootstrap3 %} {% load staticfiles %}
{% block styles %} {% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}"> {% endblock %}

</head>

<body>
{% comment %} {% include "nav.html" %} {% endcomment %}
<div class="container" style="margin-top:50px;">
    <div class="row">
    <div class="col-md-3 col-xs-2"></div>
    <div class="col-md-6 col-xs-8">
        <h3 class="name">Edit your profile</h3>
        <form style="background-color: silver" action="{%url 'update_profile' user.id%}" method="post"
        enctype="multipart/form-data">
        {%csrf_token%}

        {% bootstrap_form form%}
        <input type="submit" class="btn btn-primary" value="Change">
        </form>

        {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% bootstrap_javascript %} {% endblock %}
    </div>
    </div>
    <div class="col-md-3 col-xs-2"></div>
</div>
</body>